html,body
{
background-color:#505050;
font-family: 'Roboto', sans-serif;
margin:0;margin:0;
height:100%;
color:white;
}
header
{
text-align:center;
background-color:#000;
padding:1px;
opacity:0.96;
}
h1
{
font-size:40px;
}




nav ul
{
background-color:#FF6720;
height:100px;
display:flex;
justify-content:center;
text-align:center;
margin:0;

padding:0;
list-style:none;
}
nav ul li
{
flex-basis:200px;
font-size:2em;


}
.tilelink
{
text-decoration:none;
color:white;
height:100%;
display:flex;
align-items:center;

width:100%;
justify-content:center;
}
nav ul li:hover
{
background-color:#FF4500;

}
main
{
display:flex;
justify-content:center;
color:#000;
margin-left:auto;
margin-right:auto;
flex-wrap:wrap;

}

container
{
flex-basis:960px;
background-color:#404040;
text-align:justify;
padding-left:20px;
padding-right:20px;
color:#fff;
padding-bottom:20px;
}
p
{
font-weight:bold;
font-size:30px;
text-align:center;
}
#video
{
background-color:red;
display:flex;
margin-bottom:20px;
}
#movie
{
flex-basis:960px;
height:400px;
}
social
{
display:flex;



}
social >  div
{
flex-basis:25%;
text-align: center;

}

.sociallink
{
text-decoration:none;
color: #fff;
display:block;
height:100%;

}
footer
{

display:flex;
justify-content:center;
 
}




